* {
    /* (i) Ustawienie box-sizing na border-box dla wszystkich elementów */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* (a) Krój pisma dla całej strony powinien być bezszeryfowy */
    font-family: sans-serif;
    
    /* (b) Maksymalna szerokość tekstu dokumentu powinna wynosić 1024 piksele */
    max-width: 1024px;
    
    /* (c) Wyśrodkowanie treści na większych ekranach z jasnoszarym marginesem */
    margin-left: max((100vw - 1024px)/2, 3em);  /* Wyśrodkowanie na ekranach o szerokości większej niż 1024px */
    margin-right: max((100vw - 1024px)/2, 3em); /* Wyśrodkowanie na ekranach o szerokości większej niż 1024px */
    
    /* (c) Kolor tła całej strony ustawiony na jasnoszary */
    background: lightgray;
}

p {
    /* (d) Odstępy między paragrafami powinny wynosić 2em */
    text-indent: 1em;
    background: lightgray;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}

section {
    /* (f) Boczne marginesy tekstu powinny wynosić 3em */
    padding-left: 1em;  
    padding-right: 1em; 
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 3em;
    border: 1px solid darkgray;
}


article {
    /* (e) Odstępy między rozdziałami (artykułami) powinny wynosić 3em */
    margin-top: 1em;  
    margin-bottom: 1em; 
    padding-left: 1em;  
    padding-right: 1em;
    border: 1px solid darkgray;
}

html, body {
    height: 100%;
    display: flex;
}

body > * {
    /* (c) Biały ekran dla części z tekstem (wszystkie elementy wewnętrzne body mają białe tło) */
    background-color: white;
}



section section {
    margin-left: 0em;
    margin-right: 0em;
}

/* (h) Zadbaj, aby elementy h1, h2 i h3 różniły się wielkością zgodnie z semantyką */
h1 {
    font-size: xx-large;
    margin-top: 2em; /* (g) Górny margines tekstu wynosi 2em */
    margin-left: 1.5em;
    margin-bottom: 0.5em;

}

h2 {
    font-size: x-large;
    margin-top: 0.5em;

}

h3 {
    font-size: large;
    margin-top: 0.5em;

}